assets/
!assets/avatar.png
.vscode/**
.vscode-test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.ts
*.vsix
.DS_Store
*.log
.git/**
.github/**
webpack.config.js
.editorconfig
.eslintrc.js
extension.code-workspace